[Unit]
Description=Tasks Service
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/opt/tasks-service
Environment=SERVICE_NAME=tasks-service
Environment=SERVICE_VERSION=1.0.0
Environment=LOG_DIR=/var/log/cloud-project-manager
Environment=OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://127.0.0.1:4318/v1/metrics
ExecStart=/home/ec2-user/.bun/bin/bun src/index.ts
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
